@model CatalogProductsModel

@*todo: add script for filtering/paging/sorting here*@

@if (Model.Products.Count > 0)
{
    <div class="products-container">
        @await Html.PartialAsync("_ProductsInGridOrLines", Model)
    </div>
}
